<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601, UTC}'UTC - %-5level - [%26thread] %-50logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.fabric8" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.grpc.netty" level="WARN"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
