site_name: CLARA

repo_url: https://github.com/SteveBinary/clara
repo_name: SteveBinary/clara

docs_dir: content
edit_uri: tree/main/docs/content

nav:
  - Home: index.md
  - Concept:
      - concept/index.md
      - concept/datatypes.md
  - Configuration:
      - configuration/index.md
  - Aggregation:
      - aggregation/index.md
      - Platforms:
          - Kubernetes:
              - DNS:
                  - aggregation/platforms/kubernetes/dns/index.md
              - API:
                  - aggregation/platforms/kubernetes/api/index.md
              - opentelemetry:
                  - aggregation/platforms/kubernetes/opentelemetry/index.md
  - Merging:
      - merging/index.md
  - Filtering:
      - filtering/index.md
  - Export:
      - export/index.md
      - SVG:
          - export/svg/index.md
      - Gropius:
          - export/gropius/index.md
  - Validation:
      - T2-Reference-Architecture:
          - validation/t2-reference-architecture/index.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-5
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

extra:
  social:
    - name: GitHub
      icon: fontawesome/brands/github
      link: https://github.com/SteveBinary/clara

extra_css:
  - _stylesheets/config-option-admonition.css
  - _stylesheets/config-option-multi-admonition.css

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      linenums: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - glightbox
  - search
